<div class="centered-content">
    <div class="poll-container">
        <!--test question-->
        <div class="timer-span">
          <span >{{this.timerSec}}</span>
          <span class="circle"></span>
        </div>
        <div #optionInput class="control"  >
          
          <!--ready to start poll-->
          

          <!--Question number and Question display-->
          <p>
            <b #quesno>{{this.qno}}.  </b>
            <b #question>{{this.ques}}</b> <br> 
          </p>
        
          <div class="q-opt" [ngClass]="{ 'is-active': this.op1 === this.ans }" (click)="onOptionSelected(this.op1)">
            {{this.op1}}
          </div>
          <div class="q-opt" [ngClass]="{ 'is-active': this.op2 === this.ans }" (click)="onOptionSelected(this.op2)">
            {{this.op2}}
          </div>
          <div class="q-opt" [ngClass]="{ 'is-active': this.op3 === this.ans }" (click)="onOptionSelected(this.op3)">
            {{this.op3}}
          </div>
          <div class="q-opt" [ngClass]="{ 'is-active': this.op4 === this.ans }" (click)="onOptionSelected(this.op4)">
            {{this.op4}}
          </div>
        </div>

        <!--next button-->
        <div class="field is-pulled-right" *ngIf="this.i < this.quesArr.length -1">
            <p class="control">
              <button class="button is-success" (click)="onNextClicked()" [disabled] = "this.ans === null">
                Next -->
              </button>
            </p>
        </div>

        <div>
          <p>Number of Questions Answered: {{answered}} / {{length}}</p>
        </div>

        <!--log out-->
        <div class="field">
            <p class="control">
              <button class="button is-link" *ngIf="this.i === this.quesArr.length - 1" (click)="onSubmit()" [disabled]="this.ans === null">
                Log out
              </button>
            </p>
        </div>
</div>